<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API" verbose="2">
  <listeners>
    <listener class-name="com.ecommerce.commonUtils.listeners.TestStatusListener"/>
    <listener class-name="com.ecommerce.commonUtils.listeners.Log4jTestNGListener"/>
  </listeners>
  <test thread-count="5" name="Default XmlTest name 50b87300-750b-4859-865b-6ecd46bef83b" verbose="2">
    <parameter name="dataSheet" value="API_DATA"/>
    <parameter name="testCaseID" value="TC0001"/>
    <classes>
      <class name="testScripts.loginAPITest">
        <methods>
          <include name="loginAPI"/>
        </methods>
      </class> <!-- testScripts.loginAPITest -->
    </classes>
  </test> <!-- Default XmlTest name 50b87300-750b-4859-865b-6ecd46bef83b -->
  <test thread-count="5" name="Default XmlTest name 8c3c54b5-ef52-4e63-912c-b69645819c50" verbose="2">
    <parameter name="dataSheet" value="API_DATA"/>
    <parameter name="testCaseID" value="TC0002"/>
    <classes>
      <class name="testScripts.CreateProduct">
        <methods>
          <include name="createnewProduct"/>
        </methods>
      </class> <!-- testScripts.CreateProduct -->
    </classes>
  </test> <!-- Default XmlTest name 8c3c54b5-ef52-4e63-912c-b69645819c50 -->
</suite> <!-- API -->
